@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #3e3e3e;
}
input:checked::before {
  content: '\2714';
  font-size: 1em;
  color: #fff;
  position: absolute;
  right: 1.5px;
  top: -2px;
}
input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.3em;
  height: 1.3em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 1.5px solid #3e3e3e;
  outline: none;
  cursor: pointer;
}
input:checked {
  background-color: #3e3e3e;
  position: relative;
}
:root {
  --normal: #9ca071;
  --fighting: #ad2f29;
  --psychic: #df4f7c;
  --dragon: #595091;
  --water: #6781b3;
  --fairy: #e591a0;
  --ice: #94d1cb;
  --flying: #9688b5;
  --ghost: #645085;
  --fire: #e17733;
  --steel: #b0b1c3;
  --grass: #71b951;
  --ground: #d6b965;
  --rock: #ad9a3c;
  --dark: #625041;
  --electric: #f2cd3c;
  --poison: #8e3e87;
  --bug: #9eb039;
  --shadow: #5b5366;
  --unknown: #3e3a39;
}
