.button {
  margin: auto;
  max-width: max-content;
  display: flex;
}

.button button {
  width: 9rem;
  height: 3.5rem;
  color: #3e3e3e;
  font-family: 'Poppins', sans-serif;
  border: 2px solid rgb(62, 62, 62);
  border-radius: 50px;
  transition: 0.3s;
  margin: 10px;
}

.button button:hover {
  background-color: rgba(62, 62, 62, 0.8);
  cursor: pointer;
}

.normal button:hover {
  background-color: var(--normal);
  border: 2px solid var(--normal);
}
.fighting button:hover {
  background-color: var(--fighting);
  border: 2px solid var(--fighting);
  color: white;
}
.psychic button:hover {
  background-color: var(--psychic);
  border: 2px solid var(--psychic);
}
.dragon button:hover {
  background-color: var(--dragon);
  border: 2px solid var(--dragon);
  color: white;
}
.water button:hover {
  background-color: var(--water);
  border: 2px solid var(--water);
}
.fairy button:hover {
  background-color: var(--fairy);
  border: 2px solid var(--fairy);
}
.ice button:hover {
  background-color: var(--ice);
  border: 2px solid var(--ice);
}
.flying button:hover {
  background-color: var(--flying);
  border: 2px solid var(--flying);
}
.ghost button:hover {
  background-color: var(--ghost);
  border: 2px solid var(--ghost);
  color: white;
}
.fire button:hover {
  background-color: var(--fire);
  border: 2px solid var(--fire);
}
.steel button:hover {
  background-color: var(--steel);
  border: 2px solid var(--steel);
}
.grass button:hover {
  background-color: var(--grass);
  border: 2px solid var(--grass);
}
.ground button:hover {
  background-color: var(--ground);
  border: 2px solid var(--ground);
}
.rock button:hover {
  background-color: var(--rock);
  border: 2px solid var(--rock);
}
.dark button:hover {
  background-color: var(--dark);
  border: 2px solid var(--dark);
  color: white;
}
.electric button:hover {
  background-color: var(--electric);
  border: 2px solid var(--electric);
}
.poison button:hover {
  background-color: var(--poison);
  border: 2px solid var(--poison);
  color: white;
}
.bug button:hover {
  background-color: var(--bug);
  border: 2px solid var(--bug);
}
.shadow button:hover {
  background-color: var(--shadow);
  border: 2px solid var(--shadow);
  color: white;
}
.unknown button:hover {
  background-color: var(--unknown);
  border: 2px solid var(--unknown);
  color: white;
}
