.container {
  display: flex;
  flex-direction: column;
}
.title {
  border-bottom: 2px solid #3e3e3e;
  margin: 0.5em 0;
  max-width: 66px;
}

.checkbox {
  display: flex;
  align-items: center;
}
label {
  cursor: pointer;
}
