.wrapper {
  margin-bottom: 80px;
}
.wrapper h4 {
  margin-bottom: 0px;
}
.container {
  margin-top: 15px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 100%;
}

.sliderTrack,
.sliderRange,
.sliderLeftValue,
.sliderRightValue {
  position: absolute;
}

.sliderTrack,
.sliderRange {
  border-radius: 3px;
  height: 5px;
}

.sliderTrack {
  background-color: #ced4da;
  height: 15px;
  width: 100%;
  z-index: 1;
}

.sliderRange {
  background-color: #9fe5e1;
  height: 15px;
  z-index: 2;
  max-width: 100%;
}

.sliderLeftValue,
.sliderRightValue {
  color: grey;
  font-size: 12px;
  margin-top: 27px;
  width: 25%;
  text-align: center;
  height: 25px;
  font-family: 'Poppins', sans-serif;
}
.sliderLeftValue {
  left: -15px;
}
.sliderRightValue {
  right: -15px;
}

/* Removing the default appearance */
.container input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
}

.container input[type='range'] {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 150px;
  outline: none;
  margin-top: 16px;
}

.container .thumb {
  z-index: 3;
}

/* For Chrome browsers */
.container input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../../img/jigglypuff.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 35px;
  width: 35px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
/* input[type='range'] ::-moz-range-thumb {
  background-color: #f1f5f7;
  background-image: url('../../img/jigglypuff.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 35px;
  width: 35px;
  pointer-events: all;
  position: relative;
} */
