.container {
  max-width: 1000px;
  margin: 130px auto 50px;
  padding-bottom: 1px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 20px;
  height: max-content;
}
.topInfo {
  display: flex;
  align-items: flex-start;
  padding: 1rem 10rem;
  justify-content: space-evenly;
}

.nameTypes {
  margin-left: 90px;
}
.title {
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 0;
}
.typesList {
  display: flex;
  margin-top: 0;
  padding: 0px;
}

.type {
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.type img {
  margin-left: 20px;
  margin-right: 3px;
}

.heightWeight {
  display: flex;
  margin-top: 60px;
}
.heightWeight div {
  text-align: center;
  margin-right: 50px;
}
.heightWeight p {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.statsRanges {
  display: flex;
  justify-content: space-evenly;
  margin: 65px auto;

  width: 50%;
  text-align: center;
}

.statsRanges input[type='range'] {
  -webkit-appearance: none;
  border-radius: 3px;
  width: 160%;
  height: 40px;
  transform: rotate(270deg);
}

.statsRanges input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}
.deleteBackground {
  top: 0;
  left: 0;
  background-color: rgb(128 128 128 / 50%);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
}
.deleteContainer {
  position: relative;
  top: 50%;
  background-color: white;
  padding: 12px;
  border: 2px solid rgb(62, 62, 62);
  border-radius: 15px;
  width: 20%;
  margin: auto;
}
.deleteContainer p {
  text-align: center;
  margin: 0px;
}
.deleteOptions {
  display: flex;
  margin: 18px 48px 0px;
  justify-content: space-evenly;
}
.deleteOptions button {
  width: 3rem;
  height: 2.5rem;
  color: #3e3e3e;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 50px;
  transition: 0.3s;
}
.deleteOptions button:hover {
  cursor: pointer;
}
.yes:hover {
  background-color: rgba(255, 99, 71, 0.8);
}
.no:hover {
  background-color: rgba(62, 62, 62, 0.5);
}
.evContainer {
  margin: 50px 75px;
  border: 3px solid #3e3e3e;
  padding: 0px 41px;
  background-color: #80808057;
  border-radius: 10px;
}
.evContainer a {
  text-decoration: none;
  color: #3e3e3e;
}
.evContent {
  display: flex;
  justify-content: space-around;
}

.evolution {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.evolution h3 {
  margin-bottom: 0px;
}
.evolution .pokeImg {
  border: solid;
  border-radius: 50%;
  padding: 15px;
  background: #808080b8;
}
.evType {
  display: flex;
  align-items: center;
  padding: 5px;
  flex-direction: column;
}
.evContent i {
  margin: auto 0px;
  padding-bottom: 105px;
}

.buttons {
  display: flex;
  padding-top: 15px;
  justify-content: flex-end;
}
.buttons button {
  border: none;
  text-decoration: none;
  border-radius: 60px;
  height: 52px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  width: auto;
  max-width: 52px;
  margin-right: 14px;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}
.buttons button:hover {
  max-width: 300px;
  cursor: pointer;
}
.icon {
  margin-right: 15px;
  padding: 0px 8px;
  display: flex;
  align-items: center;
}
.text {
  white-space: nowrap;
  padding-right: 15px;
  font-family: 'Poppins', sans-serif;
  color: #3e3e3e;
}
.delete {
  color: tomato;
}
.edit {
  color: rgb(4, 4, 135);
}
