.container {
  display: flex;
  flex-direction: column;
}
.title {
  border-bottom: 2px solid #3e3e3e;
  margin-bottom: 0.5em;
  max-width: 66px;
}

.checkbox {
  display: flex;
  align-items: center;
}
label {
  cursor: pointer;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.3em;
  height: 1.3em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 1.5px solid #3e3e3e;
  outline: none;
  cursor: pointer;
}

input:checked {
  background-color: #3e3e3e;
  position: relative;
}

input:checked::before {
  content: '\2714';
  font-size: 1em;
  color: #fff;
  position: absolute;
  right: 1.5px;
  top: -2px;
}
