/* .container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 5px;
  background: linear-gradient(
    to right,
    #82cfd0 0%,
    #82cfd0 50%,
    transparent 50%,
    transparent 100%
  );
  outline: none;
  border: 1px solid #ff0000;
  border-radius: 8px;
  /* transition: background 450ms ease-in; */
/* }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 0;
  background-image: url('../../img/rangethumb.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: visible;
  position: relative;
}  */
label.danger {
  color: red;
}
input.danger {
  border: 1px solid red;
}
span.danger {
  color: red;
  font-size: 10px;
}
