.flipCard {
  display: flex;
  align-items: center;
  margin: 1.5rem auto;
  background-color: transparent;
  min-width: 550px;
  max-width: 550px;
  width: 550px;
  max-height: 245px;
  min-height: 245px;
}
.container {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flipCard:hover .container {
  transform: rotateX(180deg);
}
.front,
.back {
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.back {
  color: white;
  opacity: 0.7;
  transform: rotateX(180deg);
}

.pokeImage {
  position: absolute;
}

.content {
  padding: 1.5rem;
  flex: 1;
  overflow: hidden;
  margin-left: 225px;
}
.title {
  font-size: 2.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.type {
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.type img {
  padding: 0.3rem;
}
ul {
  list-style-type: none;
}

.backContent {
  padding: 0.5rem 1.5rem;
}
.top {
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid white;
  width: 45%;
  margin-bottom: 10px;
}
.top p {
  margin-right: 6px;
  margin-bottom: 3px;
}
.backTitle {
  font-size: 1.4rem;
  margin: 27px 3px 0px;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.stat {
  display: flex;
  align-items: flex-end;
}
.stat p,
.stat h3 {
  margin: 0px;
  margin-left: 10px;
  margin-top: 5px;
}
