@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container {
  max-width: 75%;
  margin: 90px auto;
}

.topBar {
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
