.container {
  margin: auto;
}

.topContainer {
  display: flex;
}

.pokemons {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0px auto auto;
  flex-wrap: wrap;
}
.notFound {
  margin: 100px auto;
  font-size: 2rem;
}
.notFound img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.notFound button {
  font-family: 'Poppins', sans-serif;
  color: #3e3e3e;
  background-color: rgb(209, 207, 207);
  border: none;
  border-radius: 35px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  height: 50px;
  margin: 30px auto;
}

.notFound button:hover {
  cursor: pointer;
  background-color: rgb(161, 159, 159);
}
