@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container {
  width: 100vw;
  height: 100vh;
  background-image: url('../../img/landingpage.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button {
  margin: auto;
  max-width: max-content;
  padding-top: 80vh;
}

.button button {
  margin: auto;
  width: 15rem;
  height: 4rem;
  font-size: 1rem;
  font-weight: bolder;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  color: #3e3e3e;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 50px;
  transition: 0.3s;
}

.button button:hover {
  background-color: rgba(2, 2, 2, 0.8);
  color: rgb(236, 69, 69);
  cursor: pointer;
}
